.Abutton{
    background-color: #516CF0;
    padding: 10px 0;
    /* width: 250px; */
    color: white;
    border: none;
    border-radius: 12px;
    margin: 15px 0;
}
.upperwelcome{
   padding-top: 80px;
}
.Abutton:hover{
    background-color: #FE8402;
}
.Ainput{
    /* width: 200px; */
    height: 35px;
    border-radius: 12px;
    border: 1px solid grey;
    margin: 15px 0;
    /* width: 270px; */
    /* width: 100%; */
}
.flexWrapper h4{
    margin: 15px 0;
        /* display: flex;
        justify-content: space-between;
        margin: 40px 40px; */
}

.questions{
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 20px 0;
}
.questions h2{
    margin-right: 40px;
}
.questionImage{
    width: 70px;
}
.questions:hover{
    background-color: #F5F5F6;
}
.width{
    width:90px;
    text-align: center;
}
.ArrowIcon {
	position: absolute;
	right: 20%;
}