.askQuestion {
	text-align: center;
	padding: 10px 0;
}
.askQuestion ul {
	list-style-type: none;
}
.askQuestion ul li {
	margin: 10px 0;
}
.question_title{
	/* padding: 15px 25px;
	border-radius: 15px;
	font-size: 1.2rem;
	border: silver 1px solid; */
    
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.question_title:focus{
	outline: none;
}

.question_input {
	height: 200px;
	padding: 15px 25px;
	border-radius: 15px;
	font-size: 1.15384615rem;
	border: silver 1px solid;
}
.question_input:focus {
	outline: none;
}
.question_steps {
	font-size: large;
}
.question_form {
	min-height: 500px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow: 5px 5px 10px #e8e8e8, -5px -5px 10px #ffffff;
}
.askQuestion textarea {
	background-color: #f5f5f6;
}
.question_post_btn {
	max-width: 200px;
	height: 41px;
	background-color: #516cf0;
	color: white;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 1rem;
}
.question_post_btn:hover {
	background-color: #fe8402;
}
.question_post_btn:active{
	background-color: #516cf0;
}
.blue {
	color: #fe8402;
}
.askQuestion input {
	height: 50px;
}
.textt{
	padding-top: 0px;
}
